@import "tailwindcss";

@theme {
  --color-gray-900: #111111;
  --color-gray-800: #222222;
  --color-gray-700: #333333;
  --color-gray-600: #444444;
  --color-gray-500: #555555;
  --color-gray-400: #666666;
  --color-gray-300: #777777;
  --color-gray-200: #888888;
  --color-gray-100: #999999;
  --color-gray-50: #aaaaaa;
}